ul {
  list-style-type: none;
  position: relative;
  left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 358px;
}

.li {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
  color: var(--main-color);
  padding-right: 5px;
}

h1 {
  font-size: 80px;
}

.title {
  font-size: 46px;
}

ul::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
}

.name {
  padding-bottom: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--main-color);
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
}

.container {
  display: flex;
  justify-content: space-between;
}

.link {
  padding-top: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 24px;
}

.li:hover {
  background-color: var(--main-color);
  color: var(--background-color);
  border-radius: 6px;
  transition: 0.2s;
}

@media (max-width: 1440px) {
  h1 {
    font-size: 52px;
  }

  ul {
    width: calc(25% + 7px);
  }

  .li {
    font-size: 16px;
  }

  .link {
    font-size: 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
    color: inherit;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
  }

  .li {
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }

  ul {
    width: calc(30% + 7px);
  }
}

@media (max-width: 768px) {
  .container {
    justify-content: initial;
    flex-direction: column;
  }

  ul {
    left: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    width: auto;
  }

  ul::before {
    left: 0;
    top: 0;
    height: 0;
    width: 0;
  }

  .name {
    padding-bottom: 0;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 36px;
  }
}