:root {
  --background-color: rgb(52, 52, 52);
  --background-page-color: rgb(29, 29, 29);
  --main-color: rgb(230, 230, 230);
}
/* .roboto-condensed-<uniquifier> {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */